.DS_Store
*.local
*.log

# Env secrets
.env
.env.*
!.env.example
!**/.env.example

node_modules/
dist/
dist-ssr/

# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/storage/*.key
laravel/storage/pail
laravel/storage/logs/*
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/bootstrap/cache/*.php
laravel/public/hot
laravel/public/storage
laravel/public/build
